<header>
<div style="display:flex;">
	<form action="/register" method="GET"><button type="submit">Register</button></form>
	<form action="/login" method="GET"><button type="submit">Log In</button></form>
	<form action="/cart" method="GET"><button type="submit">Cart</button></form>
	<form action="/logout?_method=DELETE" method="POST"><button type="submit">Log Out</button></form>
</div>
</header>
<!-- TODO - take that header part and make it into a more dynamic version (if there is a logged-in user, it should say different things, if there isn't, then what's currently there) -->
<body>
	<h1>TODO - make the primitive layout here</h1>
</body>
<tail>
</tail>